  .wrapper1 {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit-container {
    padding-right: 0;
    padding-left: 0;
    margin-top: 60px;
  }
